langchain
langchain-core
langchain-community
langchain-openai
langchain-experimental
langgraph

streamlit
pandas
numpy
matplotlib
seaborn
tabulate
wikipedia
python-dotenv
pydantic
typing-extensions

pytest
